.navbar {
  position: relative;
  height: 60px;
  width: 140vh;
  margin-top: 40px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

a {
  color: black;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  font-weight: 400;
}

a:hover, #buttonSearch:hover {
  transition: 0.3s;
  color: pink;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.search {
  margin-top: 10px;
  margin-right: 20px;
}

#buttonSearch {
    color: black;
    font-size: 32px;
    cursor: pointer;
}

.account {
  margin-top: 10px;
}

button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.searchInputHolder {
  width: 28%;
  height: 50px;
  margin-left: 64%;
  position: relative;
}

#searchInput {
  width: 100%;
  height: 100%;
  font-size: 20px;
  text-align: right;
  border: none;
  background-color: transparent;
  outline: none;
  position: relative;
  z-index: 1;
}

.bottom-border {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2px;
  background-color: pink;
  width: 0%;
  transition: width 0.3s ease;
  z-index: 2;
}

.bottom-border.animate {
  width: 100%;
}

.search {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.search--inactive {
  margin-left: auto;
}

.search--active {
  margin-left: auto;
}

#buttonSearch {
  font-size: 32px;
  cursor: pointer;
  color: black;
  transition: color 0.3s ease;
}

.search--active #buttonSearch {
  color: pink;
}